@mixin gray-border-for-section {
  border: 0.5rem solid #e0e0e0;
  border-radius: 0.3rem;
  box-sizing: border-box;
}

@mixin center-direction-column-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin project-button-properties {
  border: 1px solid #222222;
  background-color: #f3f5f6;
  /*color: #81d4fa;*/
  color: #006db5;
  border-radius: 0.3rem;
}

@mixin project-button-hover-properties {
  /*background-color: #006db5;*/
  background-color: #e0e0e0;
  color: #006db5;
}

.portfolio-website-div {
  border: 0.1rem solid #dbdbdb;
  @include center-direction-column-content();
  margin: 0 3rem;
  padding: 1rem 0 2rem 0;
  border-radius: 0.2rem;

  &__headline {
    font-size: 1.7rem;
    text-align: center;
    margin: 1rem 0;
  }

  &__img {
    width: 95%;
    height: auto;
    margin: 1rem auto;
    /*border: 1px solid #e0e0e0;*/
    box-shadow: 0.1rem 0.1rem 0.3rem 0.3rem #e0e0e0;
    border-radius: 0.3rem;
  }

  &__link {
  }

  &__button {
    @include project-button-properties();
    width: 11.5rem;
    height: 2.5rem;
    font-size: 1.1rem;
    margin: 1rem;
  }

  &__button:hover {
    @include project-button-hover-properties();
  }
}

@media screen and (min-width: 1700px) {
  .portfolio-website-div {
    width: 98%;
    margin: 0 1%;
    padding: 1rem 0 1rem 0;

    &__headline {
      font-size: 1.5rem;
      margin: 1rem 3% 1.5rem 3%;
    }

    &__img {
      width: 90%;
      max-width: 70rem;
      height: auto;
      margin: 0.5rem auto;
      /*border: 1px solid #e0e0e0;*/
    }

    &__link {
    }

    &__button {
      width: 13rem;
      height: 2.3rem;
      font-size: 1.2rem;
      margin: 1.5rem 0 1rem 0;
    }
  }
}

@media screen and (max-width: 1700px) {
  .portfolio-website-div {
    width: 95%;
    margin: 0 1%;
    padding: 1rem 0 1rem 0;

    &__headline {
      font-size: 1.5rem;
      margin: 1rem 3% 1.5rem 3%;
    }

    &__img {
      width: 90%;
      max-width: 70rem;
      height: auto;
      margin: 0.5rem auto;
      /*border: 1px solid #e0e0e0;*/
    }

    &__link {
    }

    &__button {
      width: 13rem;
      height: 2.3rem;
      font-size: 1.2rem;
      margin: 1.5rem 0 1rem 0;
    }
  }
}

@media screen and (max-width: 1400px) {
  .portfolio-website-div {
    width: 95%;
    margin: 0 1%;
    padding: 1rem 0 1rem 0;

    &__headline {
      font-size: 1.5rem;
      margin: 0.7rem 3% 1.3rem 3%;
    }

    &__img {
      width: 90%;
      height: auto;
      margin: 0.5rem auto;
      /*border: 1px solid #e0e0e0;*/
    }

    &__link {
    }

    &__button {
      width: 13rem;
      height: 2.3rem;
      font-size: 1.2rem;
      margin: 1.5rem 0 1rem 0;
    }
  }
}

@media screen and (max-width: 1000px) {
  .portfolio-website-div {
    width: 90%;
    margin: 0 1%;
    padding: 1rem 0 1rem 0;

    &__headline {
      font-size: 1.5rem;
      margin: 0.7rem 3% 1rem 3%;
    }

    &__img {
      width: 90%;
      height: auto;
      margin: 0.5rem auto;
      /*border: 1px solid #e0e0e0;*/
    }

    &__link {
    }

    &__button {
      width: 13rem;
      height: 2.3rem;
      font-size: 1.1rem;
      margin: 1.5rem 0 1rem 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .portfolio-website-div {
    width: 91%;
    margin: 0 1%;
    padding: 1rem 0 1rem 0;

    &__headline {
      font-size: 1.5rem;
      margin: 0.5rem 3% 1rem 3%;
    }

    &__img {
      width: 90%;
      height: auto;
      margin: 0.5rem auto;
      /*border: 1px solid #e0e0e0;*/
    }

    &__link {
    }

    &__button {
      width: 12rem;
      height: 2rem;
      font-size: 1rem;
      margin: 1rem 0;
    }
  }
}

@media screen and (max-width: 300px) {
  .portfolio-website-div {
    width: 90%;
    margin: 0 1%;
    padding: 0.5rem 0 1rem 0;

    &__headline {
      font-size: 1.3rem;
      margin: 0.5rem 3%;
    }

    &__img {
      width: 90%;
      height: auto;
      margin: 0.5rem auto;
      /*border: 1px solid #e0e0e0;*/
    }

    &__link {
    }

    &__button {
      width: 10rem;
      height: 1.7rem;
      font-size: 0.9rem;
      margin: 0.7rem 0 0.5rem 0;
    }
  }
}
