@mixin column-flex-direction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin gray-border-for-section {
  border: 0.5rem solid #e0e0e0;
  border-radius: 0.3rem;
  box-sizing: border-box;
}

.service-div {
  @include gray-border-for-section();
  @include column-flex-direction();
  width: 95%;
  padding: 1rem 0 0 0;
  margin: 0;

  &__headline {
    margin: 2rem 0;
    font-size: 1.5rem;
    text-align: center;
  }
}

@media screen and (min-width: 1700px) {
  .service-div {
    width: 98%;
    margin: 0 1%;
    padding: 0.5rem 0 1rem 0;
    border-width: 0.5rem;

    &__headline {
      margin: 2rem 0 2.5rem 0;
      padding: 0 3%;
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 1700px) {
  .service-div {
    width: 95%;
    margin: 0 1%;
    padding: 0.5rem 0 1rem 0;
    border-width: 0.5rem;

    &__headline {
      margin: 2rem 0 2.5rem 0;
      padding: 0 3%;
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 1400px) {
  .service-div {
    width: 95%;
    margin: 0 1%;
    padding: 0.5rem 0 1rem 0;
    border-width: 0.4rem;

    &__headline {
      margin: 1.5rem 0 2rem 0;
      padding: 0 3%;
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 1000px) {
  .service-div {
    width: 90%;
    margin: 0 1%;
    padding: 0.5rem 0 1rem 0;
    border-width: 0.4rem;

    &__headline {
      margin: 1rem 0 1.5rem 0;
      padding: 0 3%;
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .service-div {
    width: 90%;
    margin: 0 1%;
    padding: 0.5rem 0 1rem 0;
    border-width: 0.3rem;

    &__headline {
      margin: 1rem 0 1.5rem 0;
      padding: 0 3%;
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 300px) {
  .service-div {
    width: 90%;
    margin: 0 1%;
    padding: 0.5rem 0 1rem 0;
    border-width: 0.3rem;

    &__headline {
      margin: 1rem 0 1.5rem 0;
      padding: 0 3%;
      font-size: 1.3rem;
    }
  }
}
